@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IntegralCF";
  src: url("/fonts/integralcf-bold.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
}

.integralCF {
  font-family: "IntegralCF", sans-serif;
}

.satoshi-regular {
  font-family: "Satoshi-Regular", sans-serif;
}

.satoshi-bold {
  font-family: "Satoshi-Bold", sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
